h5 {
    font-family: bold;
    font-size: 22px;
  }

h4{
  font-size: 12px;
  color:black
}

/* Código para imagem expandir*/
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }

  .expanded-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

/* Código para fazer efeito de "Pulso"*/
a:link, #cab a:visited{

  color: #FFF;
  padding: 8px 12px;
}

a:hover{

  color: #1a1717;
  background: #FFF;
  text-decoration: none;
}

/* Tamanho Logo */

.tamanhologo{
  width: 50px;
  height: 50px;
}

/* Leia Mais */

.texto {
  max-height: 146px; /* Altura máxima do texto antes de ser recortado */
  overflow: hidden; /* Oculta o texto que excede a altura máxima */
}

.leia-mais {
  display: block;
  cursor: pointer;
}
.texto.expandido {
  max-height: none;
}

.ajuste{
max-width: 200px;
color: #070707;  
}

/* Estilo adicional para o contêiner do iframe */
.embed-responsive {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Proporção 16:9 */
}

/* Estilo adicional para o iframe */
.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


  
  