h5 {
    font-family: bold;
    font-size: 22px;
  }

h4{
  font-size: 12px;
  color:black
}

/* C칩digo para imagem expandir*/
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }

  .expanded-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

/* C칩digo para fazer efeito de "Pulso"*/
a:link, #cab a:visited{

  color: #FFF;
  padding: 8px 12px;
}

a:hover{

  color: #f5f5f5;
  background: #FFF;
  text-decoration: none;
}

/* Tamanho Logo */

.tamanhologo{
  width: 50px;
  height: 50px;
}

/* Leia Mais */

.texto {
  max-height: 150px; /* Altura m치xima do texto antes de ser recortado */
  overflow: hidden; /* Oculta o texto que excede a altura m치xima */
}

.leia-mais {
  display: block;
  color: blue;
  cursor: pointer;
}
.texto.expandido {
  max-height: none;
}

  
  