h1{
  font-size: 32px;
}

h5 {
  font-family: bold;
  font-size: 22px;
}

h4 {
  font-size: 12px;
  color: black;
}

h3 {
  font-size: 12px;
  font-style: italic;
}

#cor {
  color: black;
}

#logoFoto{
  width: 100px;
  height: 100px;
  display: inline;;
}

/* Código para imagem expandir */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.expanded-image {
  display: block;
  max-width: 90%;
  max-height: 80%;
  object-fit: contain;
}

/* Estilo do botão de fechar */
.close-btn {
  margin-top: 20px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.close-btn:hover {
  background-color: darkred;
}

/* Código para fazer efeito de "Pulso" */
a:link, #cab a:visited {
  color: #fdfdff;
  padding: 8px 12px;
}

a:hover {
  color: #1a1717;
  background: #ffffff21;
  text-decoration: none;
}

/* Tamanho Logo */
.tamanhologo {
  width: 50px;
  height: 50px;
}
#logogmail{
  width: 50px;
  height: 40px;
}

/* Leia Mais */
.texto {
  max-height: 152px; /* Altura máxima do texto antes de ser recortado */
  overflow: hidden; /* Oculta o texto que excede a altura máxima */
  text-align: justify;
}

.texto-completo {
  display: none; /* O texto adicional começa escondido */
  text-align: justify;
}

.texto.expandido .texto-completo {
  display: inline; /* Quando expandido, o texto adicional aparece */
}

.leia-mais {
  display: block;
  cursor: pointer;
}

.texto.expandido {
  max-height: none;
}

/* Ajustes para telas menores (dispositivos móveis) */
@media (max-width: 576px) {
  .texto {
    font-size: 14px; /* Ajusta o tamanho da fonte para telas pequenas */
    line-height: 1.5; /* Aumenta o espaçamento entre as linhas para melhorar a legibilidade */
  }
  
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Ajuste para o H1 e o texto em dispositivos móveis */
@media (max-width: 576px) {
  h1 {
    font-size: 24px; /* Reduz o tamanho do H1 no celular */
    text-align: center; /* Centraliza o título para melhor visualização */
  }

  h5 {
    font-size: 16px; /* Diminui um pouco o tamanho da fonte para melhorar a legibilidade */
    text-align: left; /* Altera o texto para alinhamento à esquerda em dispositivos móveis */
    line-height: 1.6; /* Aumenta o espaçamento entre as linhas */
  }

  .texto {
    max-height: none; /* Remove a limitação de altura para que o texto seja exibido completo no celular */
    overflow: visible; /* Permite que o texto seja totalmente exibido */
  }
}




.ajuste {
  max-width: 200px;
  color: #070707;
}

/* Estilo adicional para o contêiner do iframe */
.embed-responsive {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Proporção 16:9 */
}

/* Estilo adicional para o iframe */
.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Responsividade e ajuste de proporções da imagem */
.tamanho {
  width: 100%;
  height: auto; /* Ajusta automaticamente a altura para manter a proporção */
  max-width: 1000px; /* Limita a largura máxima da imagem */
  margin: 0 auto; /* Centraliza a imagem */
}

/* Estilo destaque */
.destaque {
  background-color: rgba(255, 255, 255, 0.801);
}

.esconder{
  display: none;
}

.carousel-item img {
  transition: transform 0.5s ease;
}

.carousel-item img:hover {
  transform: scale(1.05);
}

#textocontato{
  display: flex;
  justify-content: center; /* Alinha os ícones ao centro */
  align-items: center;
}

#contact {
  display: flex;
  justify-content: center; /* Alinha os ícones ao centro */
  align-items: center;
  gap: 15px; /* Espaçamento entre os ícones */
  flex-wrap: wrap; /* Garante que em telas pequenas eles quebrem a linha */
}

#contact img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
  margin: 15px;
}

#contact img:hover {
  transform: scale(1.2);
}

@media (max-width: 576px) {
  #contact {
    flex-direction: row; /* Garante que os ícones fiquem em linha */
  }
}